@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@keyframes float {
  0% {
    transform: translateX(0em) translateY(0em);
  }
  25% {
    transform: translateY(-1em) translateX(-1em);
    rotate: -10deg;
  }
  50% {
    transform: translateY(1em) translateX(-1em);
  }
  75% {
    transform: translateY(-1.25em) translateX(1em);
    rotate: 10deg;
  }
  100% {
    transform: translateX(0em) translateY(0em);
  }
}

.float-animation {
  animation: float 10s ease-in-out infinite;
}
